<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         processIsolation="false"
         stopOnRisky="true"
         cacheResult="false"
         bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="LumenBin Console Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
            <file>lu-bin</file>
        </whitelist>
    </filter>
    <php>
        <env name="LUMENBIN_CONFIG" value="/tmp/lumenbin/config.json"/>
    </php>
</phpunit>
